{% extends "reservations/base.html" %}

{% block title %}Password Updated | AeroReserve{% endblock %}

{% block content %}

    <section class="auth-section">

        <div class="auth-card">

        <span class="section-label">
            PASSWORD UPDATED
        </span>

            <h1>You're all set</h1>

            <p>
                Your password has been changed successfully.
                You can now sign in using your new password.
            </p>

            <a
                    href="{% url 'reservations:login' %}"
                    class="button button-primary button-full"
            >
                Sign in
            </a>

        </div>

    </section>

{% endblock %}